/*平板*/
@media screen and (min-width:640px) and (max-width:1024px){
body {
	font-family: Arial, "微软雅黑";
	font-size:24px;
	padding:0px;
	margin:0 auto;
}
img{
	border:0px;
}
ul{
	padding:0px;
	margin:0 auto;
	list-style-type:none;
}
ul li{
	padding:0px;
	list-style-type:none;
}
a{
	text-decoration:none;
}
p{
	padding:0px;
	margin:0 auto;
}
form{
	padding:0px;
	margin:0 auto;
}
.spacerh01{
	height:20px;
	overflow:hidden;
	line-height:10px;
	font-size:10px;
}
.spacerh02{
	height:15rem;
	overflow:hidden;
	line-height:1rem;
	font-size:0.1em;
}
.spacerh05{
	height:17px;
	overflow:hidden;
	line-height:10px;
	font-size:10px;
	background:#FFFFFF;
	clear:both;
}
/*头部导航区*/
.headbanner{
	overflow:hidden;
	background:#b0092c;
	text-align:center;
	color:#FFFFFF;
}
.headbanner img{
	width:100%;
	height:100%;
	margin-bottom:-8px;
}
.TotalAssets{
	overflow:hidden;
	clear:both;
}
.title{
	overflow:hidden;
	padding:2.0rem 0rem 0.2rem 0rem;
	font-size:26px;
}
.AssetsAmount{
	padding:0rem 0rem 2.0rem 0rem;
	font-size:56px;
}
.ProductCode{
	font-size:26px;
}
.classification{
	width:90%;
	margin:0 auto;
	overflow:hidden;
	clear:both;
	padding:0rem 0rem 0.3rem 0rem;
}
.classification_left{
	float:left;
	width:49%;
	overflow:hidden;
	color:#fff;
	text-align:left;
	font-size:20px;
}
.classification_right{
	float:right;
	width:49%;
	overflow:hidden;
	color:#fff;
	text-align:right;
	font-size:20px;
}
.mainbody{
	width:90%;
	overflow:hidden;
	clear:both;
	margin:0 auto;
	background:#f5f5f5;
}
.mainnav{
	margin:0 auto;
	padding:0px;
	list-style-type:none;
	clear:both;
	height:5rem;
	border:3px solid #2a3a49;
	border-radius:10px;
	position: relative;
	z-index:9999;
}
.mainnavLeft_off{
	padding:0px;
	list-style-type:none;
	float:left;
	width:50%;
	overflow:hidden;
	cursor:pointer;
	background:#FFFFFF;
	border-radius:10px 0px 0px 10px;
}
.mainnavLeft_on{
	padding:0px;
	list-style-type:none;
	float:left;
	width:50%;
	overflow:hidden;
	background:#2a3a49;
	color:#FFFFFF;
	cursor:pointer;
}
.mainnavright_off{
	padding:0px;
	list-style-type:none;
	float:right;
	width:50%;
	overflow:hidden;
	cursor:pointer;
	background:#FFFFFF;
	border-radius:0px 10px 10px 0px;
}
.mainnavright_on{
	padding:0px;
	list-style-type:none;
	float:right;
	width:50%;
	overflow:hidden;
	background:#2a3a49;
	color:#FFFFFF;
	cursor:pointer;
}
.mainnavLeft_off p,.mainnavLeft_on p,.mainnavright_off p,.mainnavright_on p{
	width:90%;
	overflow:hidden;
	margin:0 auto;
	text-align:center;
	line-height:5rem;
    font-size:1.7em;
}
.dynamic_icon{
	width:100%;
	overflow:hidden;
}
.dynamic_icon img{
	width:95%;
}
/*产品进入*/
.productentry{
	margin-top:15px;
	clear:both;
	overflow:hidden;
	border-bottom:1px solid #2a3a49;
	padding:0px 0px 15px 0px;
	font-size:1.2em;
	line-height:4rem;
}
.productentry_product_darkgrey{
	float:left;
	width:76%;
	overflow:hidden;
	text-align:left;
	/*background:#cecece;*/
	color:#2a3a49;
	/*text-indent:1em;*/
	/*margin-top:8px;*/
	padding:8px 0px 0px 20px;
}
.productentry_entry_darkgrey{
	float:right;
	margin-right:1%;
	width:16%;
	overflow:hidden;
	text-align:center;
	/*background:#cecece;*/
	background:#2a3a49;
	color:#fff;
	cursor:pointer;
	/*margin-top:8px;*/
	padding:10px 0px 10px 0px;
	display:block;
}
.productentry_product_lightgrey{
	float:left;
	width:76%;
	overflow:hidden;
	text-align:left;
	/*background:#dedede;*/
	color:#2a3a49;
	/*text-indent:1em;*/
	/*margin-top:8px;*/
	padding:8px 0px 0px 20px;
}
.productentry_entry_lightgrey{
	float:right;
	margin-right:1%;
	width:16%;
	overflow:hidden;
	text-align:center;
	/*background:#dedede;*/
	background:#2a3a49;
	color:#fff;
	cursor:pointer;
	/*margin-top:8px;*/
	padding:10px 0px 10px 0px;
}
.productentry_entry_darkgrey a:link,.productentry_entry_darkgrey a:visited,.productentry_entry_darkgrey a:hover,.productentry_entry_darkgrey a:active,.productentry_entry_lightgrey a:link,.productentry_entry_lightgrey a:visited,.productentry_entry_lightgrey a:hover,.productentry_entry_lightgrey a:active{
	color:#dedede;
	text-decoration:none;
}
/*
.EntryButton_lightgrey{
	background:#dedede;
	border:0px;
	text-align:center;
	color:#2a3a49;
	cursor:pointer;
	-webkit-appearance:none;
}
.EntryButton_darkgrey{
	background:#cecece;
	border:0px;
	text-align:center;
	color:#2a3a49;
	cursor:pointer;
	-webkit-appearance:none;
}*/
/*底部按钮*/
.bottom{
	position:fixed;
	z-index:999;
	bottom:0px;
	left:0px;
	right:0px;
	height:70px;
	overflow:hidden;
	margin-top:18px;
	line-height:70px;
	background:#f3eaea;
	border:1px solid #ffffff;
}
.bottom_left{
	float:left;
	width:50%;
	height:100%;
	overflow:hidden;
	background:#f3eaea;
	text-align:right;
	border-top:0px;
	border-right:1px solid #ffffff;
	border-bottom:0px;
	border-left:0px;
}
.bottom_right{
	float:right;
	width:49%;
	height:100%;
	overflow:hidden;
	background:#f3eaea;
	text-align:left;
	border:0px;
}
.bottom_button{
	width:100%;
	height:100%;
	overflow:hidden;
	text-align:center;
	color:#2a3a49;
	background:#f3eaea;
	border:0px;
	font-size:1.3rem;
	cursor:pointer;
	font-family:Arial, "微软雅黑";
	display:block;
	-webkit-appearance:none;
}
.bottom_button a:link,.bottom_button a:visited,.bottom_button a:hover,.bottom_button a:active{
	color:#2a3a49;
	text-decoration:none;
} 
/*图片轮播页面*/
.pic_carousel{
	width:100%;
	overflow:hidden;
	margin:0 auto;
	padding:0px;
	text-align:center;
	background:#fff;
}
.pic_carousel img{
	width:100%;
	border:0px;
}
/*产品*/
.productmodule{
	width:95%;
	height:350px;
	overflow:hidden;
	margin:0 auto;
	clear:both;
	background:url(../images/piccarousel/pic_carousel04.png) no-repeat top center;
	background-size:2px 350px;
}
.productmodule_left{
	width:47%;
	float:left;
	overflow:hidden;
}
.productmodule_right{
	width:47%;
	float:right;
	overflow:hidden;
}
.xjfl,.hbs{
	width:91%;
	height:70px;
	margin:0 auto;
	clear:both;
}
.xjfl_img,.hbs_img{
	float:left;
}
.xjfl_img img,.hbs_img img{
	width:60px;
	height:60px;
}
.xjfl_font,.hbs_font{
	float:left;
	line-height:60px;
	color:#a48342;
	font-size:30px;
	margin-left:15px;
}
.spacerh02{
	height:35px;
	overflow:hidden;
	line-height:8px;
	font-size:8px;
}
.spacerh02b{
	height:10px;
	overflow:hidden;
	line-height:8px;
	font-size:8px;
}
.spacerh02c{
	height:20px;
	overflow:hidden;
	line-height:8px;
	font-size:8px;
}
.yqnhsy{
	width:90%;
	text-align:left;
	clear:both;
	color:#424a52;
	margin:0 auto;
}
.yqnhsy .font_main{
	font-size:0.9em;
}
.yqnhsy .font_percent{
	font-size:48px;
	color:#b01c2e;
	font-family:Arial;
	line-height:8rem;
}
.profit{
	width:282px;
	height:282px;
	margin:0 auto;
	overflow:hidden;
	clear:both;
	background:url(../images/piccarousel/pic_carousel04.jpg) no-repeat center center;
	background-size:250px 250px;
}
.profit_p{
	width:50%;
	overflow:hidden;
	text-align:center;
	position:relative;
	top:90px;
	z-index:111px;
	margin:0 auto;
}
.font_sy{
	color:#424a52;
	font-size:0.9em;
}
.font_mrjs{
	color:#b01c2e;
	font-size:30px;
}
/*公司资讯*/
.mainbody_gszx{
	width:90%;
	overflow:hidden;
	clear:both;
	margin:0 auto;
}
.ci_list{
	width:100%;
	overflow:hidden;
	margin-top:20px;
}
.ci_list ul{
	width:100%;
	overflow:hidden;
}
.ci_list ul li{
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	line-height:5rem;
	font-size:1.2em;
	color:#2a3a49;
}
.ci_list ul li a:link,.ci_list ul li a:visited,.ci_list ul li a:hover,.ci_list ul li a:active{
	color:#2a3a49;
	text-decoration:none;
}
.ci_bottom{
	width:100%;
	text-align:center;
	color:#666666;
	font-size:0.9em;
	line-height:3rem;
	margin-top:15rem;
	border-top:1px solid #eeeeee;
}
.ci_bottom_align_left{
	width:100%;
	text-align:left;
	color:#666666;
	font-size:0.9em;
	line-height:3rem;
	margin-top:15rem;
	border-top:1px solid #eeeeee;
}
/*productArea产品专区*/
/*现金丰利*/
.area_xxfl{
	height:150px;
	overflow:hidden;
	clear:both;
	border-top:4px solid #f2f2f2;
	border-right:0px;
	border-bottom:4px solid #f2f2f2;
	border-left:8px solid #ffc320;
	margin-top:20px;
}
.area_xxfl:hover{
	border-top:4px solid #ffc320;
	border-right:0px;
	border-bottom:4px solid #ffc320;
	border-left:8px solid #ffc320;
}
/*红宝石*/
.area_hbs{
	height:150px;
	overflow:hidden;
	clear:both;
	border-top:3px solid #f2f2f2;
	border-right:0px;
	border-bottom:3px solid #f2f2f2;
	border-left:6px solid #ff2929;
	margin-top:20px;
	display:block
}
.area_hbs:hover{
	border-top:3px solid #ff2929;
	border-right:0px;
	border-bottom:3px solid #ff2929;
	border-left:6px solid #ff2929;
}
/*紫晶石*/
.area_zjs{
	height:150px;
	overflow:hidden;
	clear:both;
	border-top:3px solid #f2f2f2;
	border-right:0px;
	border-bottom:3px solid #f2f2f2;
	border-left:6px solid #a200ff;
	margin-top:20px;
	display:block
}
.area_zjs:hover{
	border-top:3px solid #a200ff;
	border-right:0px;
	border-bottom:3px solid #a200ff;
	border-left:6px solid #a200ff;
}
/*铂金*/
.area_bjxl{
	height:150px;
	overflow:hidden;
	clear:both;
	border-top:3px solid #f2f2f2;
	border-right:0px;
	border-bottom:3px solid #f2f2f2;
	border-left:6px solid #a8a8a8;
	margin-top:20px;
	display:block
}
.area_bjxl:hover{
	border-top:3px solid #a8a8a8;
	border-right:0px;
	border-bottom:3px solid #a8a8a8;
	border-left:6px solid #a8a8a8;
}
.ProductArea{
	width:90%;
	height:150px;
	overflow:hidden;
	margin:0 auto;
	padding:0px;
	clear:both;
	list-style-type:none;
}
.ProductArea01{
	float:left;
	width:15%;
	height:150px;
	overflow:hidden;
	text-align:center;
}
.ProductArea02{
	float:left;
	width:30%;
	height:150px;
	line-height:150px;
	overflow:hidden;
	font-size:28px;
}
.ProductArea03{
	float:right;
	width:54%;
	overflow:hidden;
	font-size:24px;
	line-height:36px;
	margin-top:20px;
}
.ProductArea03 p{
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.ProductArea03 .BigFont{
	font-size:36px;
}
.ProductArea03 .SmallFont{
	font-size:16px;
}
/*赢通平台*/
.wp_banner{
	width:100%;
	overflow:hidden;
	background:#FFFFFF;
}
.wp_banner_left{
	float:left;
	width:50%;
	overflow:hidden;
}
.wp_banner_right{
	float:right;
	width:50%;
	overflow:hidden;
}
.wp_banner_left img,.wp_banner_right img{
	width:100%;
}
.wp_button{
	width:100%;
	overflow:hidden;
	clear:both;
	text-align:center;
	background:#FFFFFF;
	-webkit-appearance:none;
}
.MainBigButton02{
	min-width: 150px;
	width: 40%;
	overflow: hidden;
	padding: 10px 0px;
	background: #BF0624;
	color: #FFF;
	border-radius: 6px;
	margin-top: 10px;
	border: 1px solid #6B001A;
	left: -25px;
	font-size:1.5rem;
	-webkit-appearance:none;
}
.wp_list,.wp_list01{
	width:100%;
	overflow:hidden;
	clear:both;
	font-size:1.0rem;
	overflow-x:hidden;
	overflow-y:hidden;
}
.wp_list,.wp_list01{
	position:relative;
}
.wp_list_head{
	width:100%;
	height:100%;
	overflow:hidden;
	padding:10px 0px;
	background:#2a3a49;
	color:#fff;
	clear:both;
}
.wp_list_whitebg{
	width:100%;
	height:100%;
	overflow:hidden;
	padding:12px 0px;
	background-color:#fff;
	/*background:url(../images/WinPlatform/WinPlatform_arrow.png) 97% center no-repeat;
	background-size:auto 30%;*/
	color:#333333;
	clear:both;
}
.wp_list_graybg{
	width:100%;
	height:100%;
	overflow:hidden;
	padding:12px 0px;
	/*background:url(../images/WinPlatform/WinPlatform_arrow.png) 97% center no-repeat;
	background-size:auto 30%;*/
	background-color:#f5f5f5;
	color:#333333;
	clear:both;
}
.wp_module{
	float:left;
	width:18%;
	overflow:hidden;
	margin-left:0.5rem;
	text-align:center;
}
.wp_arrow{
	width:2%;
	overflow:hidden;
	float:left;
	text-align:right;
}
.wp_arrow img{
	width:70%;
}
.FixedHead{
	position:relative;
	width:100%;
	top:0;
	z-index:10000;
	left:0;
}
/*产品*/
.ProductExpansionList{
	width:100%;
	position: relative;
	z-index:999;
	top:-0.75rem;
	font-size:1.0rem;
}
.ProductExpansionListHead{
	width:100%;
	background:#2a3a49;
	border-radius:5px;
	padding:1.0rem 0rem 1.0rem 0rem;
	color:#fff;
}
.ProductExpansionListWhite,.ProductExpansionListGray{
	width:100%;
	overflow:hidden;
	clear:both;
	padding:0.7rem 0rem 0.7rem 0rem;
	color:#333;
}
.ProductExpansionListWhite{
	background:#ffffff;
}
.ProductExpansionListGray{
	background:#f5f5f5;
}

.ProductList{
	width:99%;
	margin:0 auto;
	overflow:hidden;
}
.ProductListContain{
	float:left;
	width:33%;
	text-align:center;
}
.ProductListContainLeft{
	float:left;
	width:33%;
	text-align:center;
}
.ProductListContainMiddle{
	float:left;
	width:36%;
	text-align:center;
}
.ProductListContainRight{
	float:left;
	width:30%;
	text-align:center;
}
.bottomWhiteBg{
	width:100%;
	overflow:hidden;
	clear:both;
	margin:0rem 0rem 2.0rem 0rem;
	color:#366b9d;
	font-size:1.2rem;
}
.bottomWhiteBg a:link,.bottomWhiteBg a:visited,.bottomWhiteBg a:hover,.bottomWhiteBg a:active{
	color:#366b9d;
}
.bottomWhiteBg_left{
	float:left;
	width:49%;
	overflow:hidden;
	text-align:left;
	cursor:pointer;
	
}
.bottomWhiteBg_right{
	float:right;
	width:49%;
	overflow:hidden;
	text-align:right;
	cursor:pointer;
}
.mainbodyWhiteBg{
	background:#ffffff;
}
/*20151015
#wrapper {height: 550px;left: 0px;overflow: hidden; right: 0px;z-index: 1;}*/
/*消息页面start*/
.NewsPageLayout{
	background:#f5f5f5;
	border:1px solid #dadada;
	border-radius:10px;
	padding:1.0rem 1.0rem 1.0rem 1.0rem;
}
.NewsPageLayout > .NewsImg{
	width:100%;
	overflow:hidden;
}
.NewsPageLayout > .NewsImg img{
	width:100%;
	overflow:hidden;
}
.NewsPageLayout > .NewsTitle{
	width:100%;
	overflow:hidden;
}
.NewsPageLayout > .NewsTitle > .NewsTitleIcon{
	float:left;
	width:5%;
	overflow:hidden;
}
.NewsPageLayout > .NewsTitle > .NewsTitleIcon img{
	float:left;
	width:100%;
}
.NewsPageLayout > .NewsTitle > .NewsTitleContent{
	float:right;
	width:93%;
	font-size:1.5rem;
	color:#666666;
	font-family:"微软雅黑";
	font-weight:normal;
}
.NewsPageLayout > .NewsTitleText{
	width:100%;
	font-size:1.0rem;
	color:#666666;
	font-family:"微软雅黑";
	font-weight:normal;
	clear:both;
	margin-top:1.0rem;
	line-height:1.5rem;
}
.NewsTime{
	margin-top:1.0rem;
	color:#CCCCCC;
	text-align:center;
	width:100%;
}
/*20151023您还没有任何财产，快去购买吧！*/
.noproduction{
	margin-top:15%;
	clear:both;
	text-align:center;
}
.noproduction > .fontgray{
	font-size:2.0rem;
	color:#999999;
	padding:0.5rem 0rem 0.5rem 0rem;
}
.noproduction > .fontred,.noproduction > .fontred a:link,.noproduction > .fontred a:visited,.noproduction > .fontred a:hover,.noproduction > .fontred a:active{
	font-size:1.5rem;
	color:#B30B2F;
	padding:0.5rem 0rem 0.5rem 0rem;
}
/*产品概要页面20151112新加样式*/
.ProductOverview{
	width:85%;
	margin:0 auto;
	overflow:hidden;
	font-size:0.9em;
	line-height:2.5em;
}
.ProductOverview > .overview{
	text-align:center;
	border-bottom:1px solid #EFEFEF;
	padding:1rem 0rem .5rem 0rem;
}
.ProductOverview > .companyOverview{
	margin-top:1.5em;
	border-bottom:1px solid #EFEFEF;
	color:#666666;
	font-size:1em;
	font-size:1.5em;
	line-height:2em;
}
.ProductOverview > .companyOverview > p{
	padding:0em 0em .5em 0em;
}
/*文章页面20151112新加样式*/
.articleContentTitle{
	font-size:2em;
	line-height:2em;
	text-align:center;
	padding:1em 1em 0em 1em;
}
.articleContentDate{
	font-size:1em;
	line-height:2em;
	text-align:center;
	color:#999999;
	padding:1em 1em 1em 1em;
	border-bottom:1px solid #CCCCCC;
}
.articleContentText{
	font-size:1.2em;
	line-height:2.5em;
	padding:2em 1em 2em 1em;
}
/*按钮*/
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #d2322d;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
}